/* *{
    padding: 0;
    margin: 0;
    border: none;
} */

html {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #f0f2f5;
}

body {
    width: 100%;
    height: 100%;
}

body #container {
    width: 100%;
    height: 70%;
    background-color: #f0f2f5;
    /* display: block; */
    /* position:absolute; */
    color: #1c1e21;

}

.landing--content {
    position: relative;
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 10rem;
}
    .landing--content .tagline {
    width: 50%;
    height: 100%;
    float: left;
    display: inline-block;

    }

    .logo {
        width: 80%;
        margin-top: 2rem;

    }

    .landing--content .login--form {
    float: right;
    display: inline-block;
    width: 50%;
    }

    .userpass input {
        width: 90%;
        margin: 0.5rem 0;
        height: 3rem;
        border-radius: 5px;
        border: 0.5px solid rgb(160, 160, 160);;
        padding: 0 1rem;
        
    }

        input:hover {
            cursor: text;
            border: 0.5px solid #3b5998;
        }

    form {
        
        background: white;
        text-align: center;
        padding: 2rem;
        margin-bottom: 1rem;
        border-radius: 14px;
        box-shadow: 0 1px 8px rgb(63, 63, 63);
    }

    .loginbn{
        margin: 2rem;
    }
    button {
        margin: 1rem 0;
        background: #3b5998;
        color: white;
        width: 100%;
        border-radius: 5px;
        padding: 8px 0;
        font-size: 16px;
        border: none;
        font-weight: bold;
    }

    button:hover {
        cursor: pointer;
        background: #314a81;
    }

    .abtn:hover {
        cursor: pointer;
        background-color: green;
    }

    .extend {
        text-align: center;

    }

    a:link {
        color: white;
    }

    a:visited {
        color: white;
    }

/* 
body #footer {
    background: rgb(255, 255, 255);
    height: 30%;
    width: 100%;
    /* position: absolute; */
    /* display: block; */
    
} */








